.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 25px;

  &-main {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
  }
}
