// Responsive
$tablet-max-width: 1024px;
$mobile-max-width: 768px;
$mobileL-max-width: 425px;
$mobileS-max-width: 320px;

// Colors
$main-color: #3D4E61; // black
$light-color: #fff; // white
$section-color: #fff;
$theme-color: #FD5C63;

// Fonts
$main-weight: 300;
$bold-weight: 700;
$main-size: 16px;
$main-title-size: 36px;
$secondary-title-size: 28px;
$main-height: 1.35;
